body {
  margin: 0;
}

.page-title-card {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-title-link {
  color: black;
  transition: color 250ms, border-color 250ms;
}

.page-title-link:hover,
.page-title-link:focus {
  color: orangered;
  border-color: orangered;
}

.page-title-desc {
  font-size: 40px;
}

.home {
  position: fixed;
  z-index: 101;
  top: 5px;
  left: 5px;
}

.home-link {
  outline: none;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  display: block;
  font-size: 16px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  text-decoration: none;
  transition: color 250ms, border-color 250ms;
}

.home-link:hover,
.home-link:focus {
  color: orangered;
  border-color: orangered;
}

img {
  display: block;
  max-width: 100%;
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-image: linear-gradient(to bottom, blue, yellow);
  display: flex;
  justify-content: center;
  gap: 2px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.search-form-input {
  height: 24px;
}

.btn-submit {
  transition: background-color 250ms;
}

.btn-submit:hover,
.btn-submit:focus {
  background-color: darkgray;
}

.gallery {
  justify-content: center;
  margin-top: 62px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.info {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  border-top: none;
}

.info-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
}

.photo-card-link {
  color: black;
  text-decoration: none;
  transition: transform 250ms;
}

.photo-card-link:hover,
.photo-card-link:focus {
  box-shadow: 1px 1px 20px black;
  transform: scale(1.03);
}

.load-more-hidden {
  display: none;
}

.load-more {
  display: block;
  background-color: cornflowerblue;
  color: white;
  font-size: 20px;
  padding: 10px 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-bottom: 10px;
}

.load-more:hover {
  box-shadow: 1px 1px 5px black;
  background-color: royalblue;
}
